@charset "UTF-8";

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Scope+One&display=swap');

/* variables for palette from https://www.materialpalette.com/teal/teal */
:root {
    --dark-primary-color: #00796B;
    --light-primary-color: #B2DFDB;
    --primary-color: #009688;
    --text-and-icons: #FFFFFF;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-colour: #f0eeee;
}

body, select, button {
    font-family: 'PT Serif', serif; 
    font-family: 'Scope One', serif;
}

table {
    border: solid;
    width: 80%;
    padding: 3px;
}

.error {
    font-weight: bold;
    color: #AD1513;
}

article {
    border: 1px solid;
    padding: 5px;
    margin: 5px;
    background: var(--divider-colour);
}

fieldset {
    border: none;
}

textarea {
    width: 50%;
    height: 100px;
}

label {
    width: 100px;
    display: inline-block;
}

.btnOffset {
    margin-left: 118px;
}

button {
    background: var(--light-primary-color);
    padding: 8px 20px;
    border-radius: 10px;
    font-size: large;
}

button:hover {
    background: var(--dark-primary-color);
    color: var(--text-and-icons);
    cursor: pointer;
}

h1 {
    color: var(--dark-primary-color);
}

h2 {
    color: var(--primary-color);
}

main {
    margin: 100px auto;
    padding: 30px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--dark-primary-color);
}

a:hover {
    text-decoration: underline;
}

/* header & nav */
header {
    background: var(--primary-color);
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: var(--text-and-icons);
    margin: 20px;
}

header nav {
    margin: 20px;
}

header a:link {
    color: var(--text-and-icons);
}

header nav ul {
    list-style-type: none;
    position: fixed;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%; 
    margin: 0;
    padding: 10px;
    transition: left 0.1s;
    position: static;
    background-color: transparent;
}

header nav li {
    display: inline-block;
}

header nav ul a {
    display: flex;
    padding: 10px;
}

header a:visited {
    color: var(--text-and-icons);
}

header a:hover {
    color: var(--divider-colour);
}